CREATE TABLE nc_be_employee (
  employee_id int(11) NOT NULL AUTO_INCREMENT,
  first_name varchar(20) NOT NULL,
  last_name varchar(20) NOT NULL,
  email varchar(20) DEFAULT NULL,
  PRIMARY KEY (employee_id)
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8;


CREATE TABLE nc_be_training (
  training_id int(11) NOT NULL AUTO_INCREMENT,
  name varchar(100) NOT NULL,
  PRIMARY KEY (training_id)
) ENGINE=InnoDB AUTO_INCREMENT=211 DEFAULT CHARSET=utf8;


CREATE TABLE nc_be_employee_training (
  employee_id int(11) NOT NULL,
  training_id int(11) NOT NULL,
  UNIQUE KEY employee_id (employee_id,training_id),
  KEY employee_training_fk1 (training_id),
  CONSTRAINT employee_training_fk FOREIGN KEY (employee_id) REFERENCES nc_be_employee (employee_id) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT employee_training_fk1 FOREIGN KEY (training_id) REFERENCES nc_be_training (training_id) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

insert into nc_be_employee values(101,'Andrei', 'Tishkovski','at@email.com');
insert into nc_be_employee values(102,'Sergei', 'Ivanov','si@email.com');
insert into nc_be_employee values(103,'Vladimir', 'Tichonov','vt@email.com');

commit;

insert into nc_be_training values(201,'J2EE Technologies');
insert into nc_be_training values(202,'J2SE Training');
insert into nc_be_training values(203,'JPA');

commit;

insert into nc_be_employee_training (employee_id, training_id) values (101, 201);
insert into nc_be_employee_training (employee_id, training_id) values (101, 202);
insert into nc_be_employee_training (employee_id, training_id) values (102, 202);

commit;