<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        id="office-webapp"
        version="3.0">
  <display-name>Office Web Application</display-name>

  <servlet>
    <servlet-name>HelloController</servlet-name>
    <servlet-class>by.educ.nikita.office.web.HelloServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>by.educ.nikita.office.web.EmployeeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloController</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
</web-app>
